astroid>=2.5
cdmcfparser>=2.4.1
cdmgcplugin>=1.0.4
cdmpylintplugin>=1.0.4
cdmpyparser>=3.3.2
cdmsysinfoplugin>=1.0.0
colorama>=0.4.6
flake8>=4.0.1
gprof2dot>=2022.7.29
importlib-metadata>=4.2.0
isort>=4.3.21
jedi>=0.19.0
lazy-object-proxy>=1.9.0
mando>=0.7.1
mccabe>=0.6.1
mistune>=3.0.1
packaging>=23.1
parso>=0.8.3
psutil>=5.7.0
pycodestyle>=2.8.0
pyflakes>=2.4.0
Pygments>=2.16.1
pylint>=2.5.3
PyQt5-Qt5>=5.15.2
PyQt5-sip>=12.12.2
python-magic>=0.4.27
QDarkStyle>=3.1
QtPy>=2.3.1
qutepart>=3.3.3
radon>=6.0.1
ruamel.yaml>=0.17.32
ruamel.yaml.clib>=0.2.7
six>=1.16.0
toml>=0.10.2
typed-ast>=1.4.3
typing_extensions>=4.7.1
vulture>=2.8
wrapt>=1.12.1
Yapsy>=1.12.2
zipp>=3.15.0
